/* all css files import here */
@import 'button.css';
@import 'card.css';

 /*all colors here */
:root {
	--primary-color: #68CDE4;
	--secondary-color: #4B90A0;
	--primary-accent: #E8407C;
	--secondary-accent: #E290B0;
	--background-color: #FFFBF8;
	--card-color: #D9D9D9;
	--card-accent: #fafafa;
}

