button{
	@apply flex flex-row;
	max-width: fit-content;
	align-items: center;
}

button.primary {
	@apply rounded-full px-2 py-1;
	background-color: var(--primary-accent);
	color: white;
}

button.primary:hover{
	background-color: var(--secondary-color);
}

button.primary:focus{
	background-color: var(--secondary-color);
}

button.secondary{
	@apply rounded-full px-2 py-1;
	border: 2px solid;
	color: var(--primary-accent);
	border-color: var(--primary-accent);
}

button.secondary:hover{
	background-color: var(--primary-accent);
	color: white;
}

button.text{
	color: var(--primary-color);
	text-decoration: underline;
}

