button{
	@apply rounded-full flex flex-row p-2;
	width: 100%;
}

button.primary {
	max-width: fit-content;
	background-color: var(--primary-color);
	color: white;
}

button.primary:hover{
	background-color: var(--primary-accent);
}

button.primary:focus{
	background-color: var(--secondary-color-2);
	color: white;
}