
.card{
	background-color: var(--card-color);
	
}

.card.normal{
	background-color: var(--card-color);
}

.card.elevated{
	background-color: var(--card-color);
	-webkit-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.06);
	-moz-box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.06);
	box-shadow: 0px 10px 13px 0px rgba(0,0,0,0.06);
}

.card.rounded{
	border-radius: 27px;
}

.card.accent{
	background-color: var(--card-accent);
}