.link{
	color: var(--primary-accent);
	text-decoration: underline;
}

.link:hover{
	color: var(--secondary-color);
}


.link::after {
	content: "↗";
	font-weight: bold;
	color: currentColor;
	padding-right: 3px;
}
