.link{
	color: var(--secondary-color);
}

.link:hover{
	color: var(--secondary-accent);
}

/*
.link::after {
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../../public/external-link.svg');
	background-size: cover;
  }
  */